[debug],
[debug] * {
  color: hsla(5, 100%, 60%, 0.8) !important;
  background: hsla(210, 100%, 100%, 0.8) !important;
  outline: solid 1px hsla(5, 100%, 60%, 0.8) !important;

  box-shadow: none !important;
  filter: none !important;
}
